@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.main {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 18%;
  height: 100vh;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
}

#sidebar>a>img {
  width: 110px;
  margin: 30px 20px 20px;

}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background 0.3s;
}

#sidebar ul li:hover {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  width: 100%;
}

.menu img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.text1 {
  font-size: 16px;
  line-height: 1;
}

#more-toggle {
  display: none;
}

.hamburger {
  width: 24px;
  height: 18px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 16px;

}

.hamburger span {
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: 0.3s;
}

.scrolable {
  width: 82%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 30px;
  position: relative;
}

.scrolable h1 {
  margin-bottom: 10px;
}

.scrolable ul {
  list-style: none;
}

.scrolable li {
  margin-bottom: 6px;
}

#story-section {
  display: flex;
  width: 53%;
  justify-content: space-between;
  margin-top: 6px;
}

.story-images>img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.story-images {
  background-image: url(./assets/story-frame.svg);
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story>p {
  color: #262626;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.12px;
}

footer {
  width: 319px;
  position: absolute;
  top: 51px;
  right: 46px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dp {
  display: flex;
  justify-content: center;
  align-items: center;

}

.dp>img {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-right: 17px;
}

.dp>div>h4 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.dp>div>p {
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
}

.profile-info>a {
  color: #0095F6;
  font-family: Roboto;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;

}

.suggest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.suggest>h5 {
  color: #8e8e8e;
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;


}

.suggest>a {
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.user-suggest {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.suggestdp {
  width: 32px;
  height: 32px;
  background: #2d2d2d;
  border-radius: 50%;
  margin-left: 4px;
}

.id>div>h4 {
  color: #262626;
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.id>div>p {
  color: #8E8E8E;
  font-family: Roboto;
  font-size: 11px;
  line-height: 16px;
}

.user>a {
  color: #0095F6;
  font-family: Roboto;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

#footer-links {
  width: 319px;
  height: 36px;

  margin-top: 24px;
  font-family: Roboto;
}

#footer-links>a {
  color: #c7c7c7;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.footercp {
  color: #c7c7c7;
  font-family: Roboto;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 20px;
}

.post {
  width: 460px;
  margin-left: 9%;
  margin-top: 30px;
  border-bottom: 1px solid lightgray;
}

.post-header {
  padding: 8px 0px 8px 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.post-header>div {
  display: flex;
  align-items: center;
}

.userimage {
  background: url(assets/story-frame.svg);
  height: 35px;
  width: 35px;
  background-size: 100%, 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userimage>img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.headerusername {
  margin-left: 10px;
  margin-right: 4.06px;
  ;
}

.headertime {
  color: #8E8E8E;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  margin-left: 6px;
}

.post-image {
  width: 100%;
}

.postbuttons {
  margin-top: 4px;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.postinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.post-footer {
  padding-bottom: 21px;
}

.likesc {
  color: #262626;

  font-weight: 600;

  font-size: 13px;

  line-height: 18px;


}

.caption {
  color: #262626;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}

.translate {
  margin-top: 6px;
  color: #262626;

  font-weight: 600;

  font-size: 12px;

  line-height: 16px;


}

.comments {
  margin-top: 5px;
  color: #8e8e8e;

  font-weight: 400;

  font-size: 13px;

  line-height: 18px;


}

.addc {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.addc>p {
  margin-top: 8px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 18px;
}

.suggestions {
  width: 460px;
  margin-left: 90px;
  margin-top: 22px;
  border-bottom: 1px solid lightgray;
}

.suggest-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggest-main>h5 {
  width: 126px;
  height: 18px;

  font-weight: 600;

  font-size: 14px;

  line-height: 18px;


}

.suggest-main>a {

  height: 18px;
  color: #0095F6;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;

}

.suggestions>div>img {
  margin-top: 15px;
  margin-right: 10px;
}

@media screen and (max-width:1165px) {
  footer {
    display: none;
  }

  .post {
    margin-left: 5%;
  }
}